gc
*.exe
*.exe.stackdump
*.la
*.lo
*.o

.deps/
.libs/
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
autoscan-*.log
compile
config.h
config.h.in
config.h.in~
config.log
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
